@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
  
  

.alink {
    position: absolute; 
    top: 20px; 
    left: 20px; 
}
.img {display: block;
    max-width: 100px; /
}

p{
    color: rgb(168, 157, 157);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
input[type="submit"],
input[type="reset"], input[type="button"] {
    border: 2px solid gray; 
    border-radius: 5px;
    padding: 10px; 
    font-size: 12px; 
    box-sizing: border-box; 
    cursor: pointer; 
    background-color: #BA55D3;
    color: #f0f0f0;
}

input[type="submit"]:hover,
input[type="reset"]:hover, input[type="button"] {
    border: solid 1px black;
}

#a{
    justify-content: center;
    align-items: center;
    margin: 0; 
}
